@media(min-width:700px) {
    .menu-btn {
        display: none
    }

    .nav {
        display: block;
        width: auto
    }

    .nav ul {
        flex-direction: row;
        gap: .5rem;
        margin: 0
    }



    .list-headers {
        display: grid;
        padding: .6rem 1rem
    }

    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
        align-items: start
    }
}


@media (min-width: 768px) {
    .info-row {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: start;
    }

    .hero img {
        aspect-ratio: auto;
    }

    .hero .hero-text {
        margin: -20rem 1rem 1.25rem;
    }
}

@media (min-width: 1000px) {
    .weather-temp {
        font-size: 2.6rem;
    }
}