@media(min-width:700px) {
    .menu-btn {
        display: none
    }

    .nav {
        display: block;
        width: auto
    }

    .nav ul {
        flex-direction: row;
        gap: .5rem;
        margin: 0
    }



    .list-headers {
        display: grid;
        padding: .6rem 1rem
    }

    .footer-grid {
        grid-template-columns: 2fr 1fr 1fr;
        align-items: start
    }
}